#ENDPOINT DEL NODO IDEAM - A QUIEN SE LE VAN ENTREGAR LOS DATOS - Nodo IDEAM
endPointRegistroRemotoSirh=http://localhost:18080/Ideam-Ejb/Receiver/RegistroRemotoSirh
idSentenciaNovedades=1
idSentenciaNodos=2
usuarioWs=nodoIdeam
claveWs=sirhRemoto

#CONFIGURACION DE LA BASE DE DATOS A LA QUE VA IMPORTAR LOS DATOS - NODO IDEAM
DriverNameBD=oracle.jdbc.driver.OracleDriver
UrlBD=jdbc:oracle:thin:@172.16.1.8:1522:DBPRUEBA
#UrlBD=jdbc:oracle:thin:@localhost:1521:XE
UsuarioBD=SIRHV2
ClaveUsuarioBD=SIRHV2JUN19