body{
    margin:0px;
}

.map {
    height: 392px;
    width: 100%;
    margin:0px;
    padding: 0px;
    top: -57px;
    position: relative;
}

.skpButton{
	display:block;
	margin:1px;
	color:#fff;
    font-size:1.14em;
    font-weight:700;
    text-decoration:none;
    text-align:center;
    height:1.375em;
    width:9.375em;
    line-height:.4em;
    background-color: #7b98bc;
    background-color: rgba(0,60,136,.5);
    padding: 1px;
    border-radius:2px;
    z-index:99;
}
.skpButton:hover{
	text-decoration:none;
    background-color:#4c6079;
    background-color:rgba(0,60,136,.7)
}

.skpContainer{
	z-index:1;
    left:50px;
    top: 8px;
    position: relative;
    background-color: #eee;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
    width: 174px;
}

.icon-gps {
	background: url('/Sirh/imgs/gps.png') no-repeat;
    width: 1em;
    height: 1em;
    z-index:2;
    margin-left: 0.08em;
    margin-top: 0.09325em;
    -webkit-filter: brightness(0) invert();
    filter: brightness(0) invert();
}
	  
.ol-touch .ol-control button {
	font-size: 1.14em !important;
}

#mapBody{
    overflow: hidden;
}

.innerButton{
    font-size: small;
    width: 79%;
    margin: 7px;
    padding: 0;
    float: left;
}

.closeIcon{
    position: relative;
    top: 6px;
}

#toggleButton{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}